<body>
  <nav>
    <div><a href="/">Home</a><a href="/dashboard">Dashboard</a>
      {{#if loggedIn}}
        <a href="/Log-Out">Log Out</a>
      {{else}}
        <a href="/Log-Out">Log Out</a>
        <a href="/login">Login</a>
      {{/if}}
    </div>
    <div><h1>The Tech Blog</h1></div>
  </nav>
  <main>
    {{#each Data}}
      <div class="card">

        <div class="card-header">
          Posted by
          {{this.User}}
          on
          {{this.Date}}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{this.Title}}</h5>
          <p class="card-text">{{this.Paragraph}}</p>
        </div>

      </div>
    {{/each}}

  </main>
</body>